<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.veska.daemon</string>

	<key>ProgramArguments</key>
	<array>
		<string>{{.BinaryPath}}</string>
	</array>

	<key>EnvironmentVariables</key>
	<dict>
		<key>VESKA_HOME</key>
		<string>{{.VeskaHome}}</string>
	</dict>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>StandardOutPath</key>
	<string>{{.VeskaHome}}/daemon.log</string>

	<key>StandardErrorPath</key>
	<string>{{.VeskaHome}}/daemon.log</string>
</dict>
</plist>
